body {
    margin: 0;
    cursor: none;
}

#top-canvas {
    margin: 0;
    overflow: hidden;

}

.about {
    display: inline-block;
}

.title {
    font-family: monospace;
    font-size: 2rem;
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
}

.link {
    font-size: 1rem;
    cursor: none;
    color: black;
}

.link:visited {
    color: black;