body {
    margin: 0;
}

.about {
    display: inline-block;
}

.title {
    font-family: monospace;
    font-size: 2rem;
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
}